@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-text: #333333;
  --bg-primary: #fafafa;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.low-gray');
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.gray');
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--c-text);
  background: var(--bg-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
